body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("./images/spacex-OHOU-5UVIYQ-unsplash.2e16d0ba.fill-1600x800.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

#desc {
    color: white;
    padding: 140px 0 0 360px;
}

#logo {
    float: left;
    padding: 40px 0 0 360px;
}

form button {
    text-transform: uppercase;
    padding: 15px;
    width: 180px;
}

ul {
    padding: 60px 0 60px 900px;
    margin: -10px;
    background-color: white;
}

li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 60px;
    font-size: 20px;
}